@import "../../../Colours.scss";


.jcTheme {
    padding: 2rem 16px;
    width: 300px;
    margin-bottom: 32px;
    margin-right: 32px;
    font-size: 1.2rem;
    text-align: center;

    border-radius: 2px;
    display: inline-block;
    background-color: $bg;
    border: 1px solid $bg_d1;
    &.done {
        background-color: rgba($green, .7);
        border: 1px solid $green;
    }
    word-wrap: break-word;
    position: relative;
    overflow: hidden;
    cursor: pointer;

    &>span {
        z-index: 1;
        position: relative;
    }

    &::before {
        content: "";
        display: block;
        width: 0;
        padding-bottom: 0;
        background-color: $bg_l1;
        position: absolute;
        left: 0;
        top: 100%;
        transform: translate(-50%, -50%);
        border-radius: 50%;
        
        transition: width 500ms ease, padding-bottom 500ms ease;
    }
    &.done::before {
        background-color: rgba($green, .8);
    }
    &:hover::before {
        width: 250%;
        padding-bottom: 250%;
    }

    &::after {
        content: "${props => props.points}";
        display: block;
        position: absolute;
        right: 12px;
        bottom: 6px;
        z-index: 1;
        font-size: .8em;
        color: $bg_l3;
    }
}