@import "../../Colours.scss";


.campEditButton {
    position: absolute;
    top: 8px;
    right: 32px;
}

.sbWrapWrap {
    position: relative;
}
.sbWrap {
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 30;
}
.sbBurger {
    position: absolute;
    left: 100%;
    top: 8px;
    width: 36px;
    height: 36px;
    background-color: $bg_d0;
    border-radius: 0 8px 8px 0;
    cursor: pointer;
    z-index: 2;

    &>* {
        width: 24px;
        height: 24px;
        position: absolute;
        left: 6px;
        top: 6px;
        transition: transform 200ms ease;
        transform: rotateY(0);
    }
    &.sbHidden {
        &>* {
        transform: rotateY(180deg);
        }
    }
}

.campSidebar {
    background-color: $bg_d0;
    flex-shrink: 0;
    width: 250px;
    margin-left: 0;
    &.sbHidden {
        margin-left: -250px;
    }
    box-shadow: 0 0 2px #0005;
    transition: margin-left 200ms ease;
    text-align: left;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    position: relative;
    height: 100%;
    padding: 16px 0;

    &>* {
        flex-shrink: 0;
    }

    .sbSpace {
        flex-grow: 1;
    }
    &>*:not(.head):not(.sbSpace) {
        padding: 12px 20px;
        position: relative;
        cursor: pointer;
        margin-top: 1px;

        &:hover:not(.sbSpace), &.active {
            background-color: $bg_d1;
        }
        &::before {
            content: "";
            display: block;
            position: absolute;
            top: -1px;
            left: 16px;
            width: calc(100% - 32px);
            height: 1px;
            background-color: $bg_l1;
        }
        &::after {
            content: "";
            display: block;
            position: absolute;
            bottom: -1px;
            left: 16px;
            width: calc(100% - 32px);
            height: 1px;
            background-color: $bg_l1;
        }
    }


        /*
        padding: 8px 24px;
        border-bottom: 1px solid $bg_l1;
        transition: padding 100ms ease, background-color 100ms ease;
        cursor: pointer;
    }
    &>*:not(.head):not(.active):hover {
        padding-left: 32px;
        background-color: $bg_d1;
    }
    &>*.active {
        padding-left: 32px;
        background-color: $bg_d05;
    }*/
    &>*.head {
        padding: 12px 16px;
        border-bottom: 2px solid $bg_l2;
        font-weight: 500;
    }
}
 
.challengeBody {
    text-align: center;
    width: 100%;
    position: relative;
    padding: 24px 64px;
}

@media (max-width: 600px) {
    .sbBurger {
        width: 48px;
        height: 48px;
        
        &>* {
            width: 38px;
            height: 38px;
            left: 6px;
            top: 6px;
        }
    }
    .challengeBody {
        padding: 24px 16px;
    }
}
