@import "../../Colours.scss";


.graphEl {
    width: 100%;
    margin: auto;
    margin-top: 1em;
    height: 300px;
    box-shadow: 0 0 1px darken($bg, 5%);
    background-color: darken($bg, 3.5%);
    position: relative;
    overflow: hidden;
    margin-bottom: 32px;

    & text {
        fill: $fg;
    }

    & .rv-discrete-color-legend-item__title {
        color: $fg;
        margin-left: 6px;
    }
    & .rv-discrete-color-legend-item.vertical {
        padding: 4px 10px;
        text-align: left;
    }
}
