@import "../../Colours.scss";


.row {
    display: flex;
    margin-bottom: 16px;
    
    &>* {
        flex-grow: 1;
        min-width: auto;
        width: auto;
        margin: 0;
        margin-right: 8px;
    }
    &>*:last-child {
        flex-grow: 0;
        margin-right: 0;
    }
}

.memberTheme {
    display: flex;
    text-align: left;
    font-size: 1.2em;
    padding: 2px 16px;

    &>*:last-child {
        flex-grow: 1;
        width: 100%;
        word-break: break-all;
    }
    &>* {
        flex-shrink: 0;
    }
}

.memberIcon {
    font-size: 1.5em;
    margin-right: 12px;
    opacity: .2;

    &.clickable {
        cursor: pointer;
        transition: 200ms ease opacity;

        &:hover {
            opacity: 1;
        }
    }
    
    &.bad {
        color: $red;
    }
    &.active {
        opacity: 1;
        cursor: default;
        color: $bgreen;
    }
}
