@import "../../../Colours.scss";


.authWrap {
    max-width: 600px;
    width: 100%;
    margin: auto;
    padding: 56px 64px;
    padding-bottom: 48px;
    position: relative;


    background-color: $bg_l0;
    position: relative;
    color: $fg;
    border-radius: 1px;

    &::before {
        position: absolute;
        left: 3px;
        height: 100%;
        top: 5px;
        width: 100%;
        content: "";
        display: block;
        background-color: $bg_d0;
        z-index: -1;
        border-radius: 1px;
        transition: 100ms top ease-out, 100ms left ease-out;
    } 
}

@media only screen and (max-width: 600px) {
    .authWrap {
        padding: 56px 24px;
    }
}

.authDarken {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: 0 0 50px #0005;
    background-color: #0005;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fgtpsdpmt {
    text-align: left;
    font-size: .9em;
    opacity: .5;
    margin-top: -8px;
    margin-left: 8px;
    cursor: pointer;

    &:hover {
        text-decoration: underline;
        opacity: .8;
    }
}
