.campaignRow {
    display: flex;

    &>* {
        flex-shrink: 0;
    }

    margin-bottom: 10%;
    justify-content: center;
}
.campaignRowOuter {
    height: 100%;
    margin: auto;
    width: 100%;
    max-width: 600px;
    &:last-child>div {
        margin-bottom: 0;
    }
}
