@import "./Theme.scss";


.campaignSpacer {
    width: calc(#{$nodeSize} + 8px);
    padding-bottom: calc(#{$nodeSize} + 8px);
    margin: 0 $nodeMargin;
    height: 0;

    &:first-child {
        margin-left: 0;
    }
    &:last-child {
        margin-right: 0;
    }
}

@media (max-width: 600px) {
    .campaignSpacer {
        width: calc(#{$nodeSize} + 4px);
        padding-bottom: calc(#{$nodeSize} + 4px);
    }
}
