@import "../Colours.scss";

button {
    background-color: #2c2a44;
    border-radius: 2px;
    border: 1px solid #373354;
    display: block;
    cursor: pointer;
    color: $fg;
    font-size: 1.2rem;
    padding: 5px 10px;
    text-decoration: none;
    transition: background-color 1s;
    margin: 1rem auto 0;

    &.main {
        padding: .6rem 2rem;
    }
    &.medium {
        padding: 8px 15px;
    }
    &.lesser {
        background: none;
    }
    &.warning {
        background: rgba($red, .3);
        border-color: rgba($red, .4);
    }

    &:not(.disabled):hover {
        background-color: $bg;
    }
    &.disabled {
        color: #999;
        cursor: not-allowed;
    }

    &:hover {
        text-decoration: none !important;
    }
}

.buttonRow {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    &>* {
        margin-left: 0;
        margin-right: 16px;
    }
    &>:last-child {
        margin-right: 0;
    }
}
