.formWrapper {
    width: 100%;

    &>div {
        margin-bottom: 16px;
    }
    &>div:last-child {
        margin-bottom: 0;
    }
    &>div:nth-last-child(2) {
        margin-bottom: 8px;
    }

    
    & label {
        font-size: .9em;
        text-align: left;
        margin: .3em 8px;
        margin-bottom: .5em !important;
        margin-top: 16px;
        display: block;
        &:first-child {
            margin-top: 8px;
        }
    }
}

.formError {
    color: #ac3232;
    font-weight: 500;
    font-size: 1.2em;
    white-space: pre-wrap;
    line-height: 1.5;
}
