@import "../Colours.scss";

header {
    width: 100%;
    height: 60px;
    background-color: rgba($bg_d1, 0.73);
    padding: 16px 32px;
    position: relative;
    z-index: 50;
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: center;

    &>a {
        font-size: 1.4em;
        font-weight: 500;
        color: $fg !important;
        flex-basis: 0;
        flex-grow: 1;
    }
    &>img {
        height: 35px;
    }
}
