@import "../Colours.scss";

input,
textarea {
    background: none;
    border: 0;
    width: 100%;
    color: inherit;

    &:focus {
        border: none;
        outline: none;
    }
}

textarea {
    resize: vertical;
}

.inputMetaWrap {
    position: relative;
    z-index: 1;
}

.inputWrapper {
    position: relative;

    padding: 5px 10px;

    border-radius: 2px;
    color: #ddd;
    font-size: 21px;
    padding: 5px 10px;
    outline: none;

    background-color: $bg;
    transition: 100ms background-color ease;
    &:focus-within {
        transition: 100ms background-color ease;
        background-color: $bg_d0;
    }

    &::before {
        display: block;
        position: absolute;
        left: 2px;
        top: 3px;
        width: 100%;
        height: 100%;
        content: "";
        background-color: $bg_l1;
        z-index: -1;
    }

    &.center {
        text-align: center;
    }
    &.invalid {
        background-color: #3f2637;
        &::before {
            background-color: #802d34;
        }

        &:focus-within {
            background-color: #522836;
            &::before {
                background-color: #ac3232;
            }
        }
    }
    &.password {
        padding-left: 38px;
    }
    &.disabled {
        background-color: $bg_l1;
        &::before {
            background-color: $bg_l2;
        }
    }
    &.hidden {
        display: none;
    }

    &:focus-within > div:nth-of-type(1) {
        opacity: 0.8;
    }

    & .lengthCounter {
        position: absolute;
        right: 8px;
        top: 4px;
        font-size: 0.8em;
        opacity: 0.4;
    }
    & .styledEye {
        position: absolute;
        top: 50%;
        width: 20px;
        height: 20px;
        left: 10px;
        font-size: 20px;
        transform: translateY(-50%);
        display: flex;
        align-items: center;
        cursor: pointer;

        opacity: 0.4;

        &:hover {
            opacity: 0.6;
        }
    }

    & .placeholder {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        padding: inherit;
        text-align: left;
        font-size: 21px;
        color: #777;

        user-select: none;
        pointer-events: none;
    }

    & .inputStrength {
        position: absolute;
        height: 2px;
        background-color: #000;
        bottom: 0;
        left: 0;
        width: 100%;
        transition: width 200ms ease-out, color 200ms ease;

        &[data-val="0"] {
            width: 0%;
            background-color: darkred;
        }
        &[data-val="1"] {
            width: 20%;
            background-color: darkred;
        }
        &[data-val="2"] {
            width: 40%;
            background-color: orangered;
        }
        &[data-val="3"] {
            width: 60%;
            background-color: orange;
        }
        &[data-val="4"] {
            width: 80%;
            background-color: yellowgreen;
        }
        &[data-val="5"] {
            width: 100%;
            background-color: green;
        }
    }
}
