@import "../Colours.scss";


.darken {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .2);
    z-index: -1;
}

.modalWrap {
    z-index: 100;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modalBoxWrap {
    position: relative;
    &::before {
        position: absolute;
        left: 3px;
        height: 100%;
        top: 5px;
        width: 100%;
        content: "";
        display: block;
        background-color: $bg_d0;
        z-index: -1;
        border-radius: 1px;
    }
}

.modalBox {
    padding: 32px 48px;
    background-color: $bg_l0;
    box-shadow: 0 0 25px -10px #000;
    display: flex;
    flex-direction: column;
    align-items: center;

    width: auto;
    &:not(.small) {
        width: 930px;
        max-width: 100vw;
    }
    &.centre {
        text-align: center;
    }

    max-height: 100vh;
    overflow-y: auto;

    @media only screen and (max-width: 600px) {
        & {
            padding: 32px 12px;
        }
    }

    &>p {
        margin-top: 0;
        white-space: pre-wrap;
    }
}
