@import "../Colours.scss";


.radioWrap {
    display: flex;

    & input[type="radio"] {
        display: none;
    }
    
    & .radioLabel {
        display: flex;
        align-items: center;
        cursor: pointer;
        color: $bg_l5;

        &>.radioButton {
            width: 20px;
            height: 20px;
            border-radius: 50%;
            border: 2px solid $bg_l5;
            margin-right: 8px;
            position: relative;
        }

        margin: 16px 24px 16px 0;
    }

    & div.checked {
        &>.radioButton::after {
            content: "";
            display: block;
            position: absolute;
            left: 3px;
            top: 3px;
            width: 10px;
            height: 10px;
            border-radius: 50%;
            background-color: $bgreen;
        }
        color: $bgreen;
    }
}