@import "../Colours.scss";


.tableWrap {
    width: 100%;
    overflow-x: auto;
}

table {
    width: 100%;
    text-align: left;
    border-collapse: collapse;
}

tr {
    &.heading > td {
        background-color: $bg_d1;
        font-weight: 600;
        font-family: $titleStack;
    }
        
    &:nth-child(2n) > td {
        background-color: $bg_l2;
    }
    &:not(.heading) {
        &:last-child > td {
            border: none;
        }

        > td {
            color: #eee;
        }

        &:hover > td {
            color: #fff;
            background-color: $bg;
        }
    }
}

td {
    background-color: $bg_l1;
    border-bottom: 1px solid $bg_d1;
    vertical-align: top;

    &.sortable {
        position: relative;
        cursor: pointer;
        padding-right: 1.5rem;

        &::before, &::after {
            border: 4px solid transparent;
            content: "";
            display: block;
            height: 0;
            right: .75rem;
            top: 50%;
            position: absolute;
            width: 0;
        }
        &::before {
            border-bottom-color: #999;
            margin-top: -9px;
        }
        &::after {
            border-top-color: #999;
            margin-top: 1px;
        }

        &:hover::before {
            border-bottom-color: #ccc;
        }
        &:hover::after {
            border-top-color: #ccc;
        }
    }

    &>* {
        display: block;
        margin: .55rem .75rem;
    }
    &>a {
        color: $fg;
        margin: 0;
        padding: .55rem .75rem;
        
        &:hover {
            text-decoration: none;
            color: $fg;
        }
    }
}
