.switchButtonWrap {
    font-size: 0;

    &>button {
        border-radius: 0;
        display: inline-block;
        margin: 0;
        min-width: 100px;
        opacity: .5;
        transition: none;
    }

    &>button:first-child {
        border-radius: 2px 0 0 2px;
    }

    &>button:last-child {
        border-radius: 0 2px 2px 0;
    }

    &>button.active {
        opacity: 1;
    }
}

.switchCaption {
    font-size: 1.2em;
    margin-bottom: 8px;
}