.medalOuterWrap {
    position: relative;
    overflow: hidden;
}
.medalWrap {
    padding: 24px 32px;
    font-size: .9em;
    &>div:first-child {
        font-size: 1.3em;
        margin-bottom: 12px;
    }
    z-index: 2;
    position: relative;
}
.medalIcon {
    position: absolute;
    right: -16px;
    bottom: -16px;
    height: 96px;
    width: 96px;
    opacity: .6;
    &>svg {
        height: 96px;
        width: 96px;
    }
}
.basePopupWrap {
    padding: 24px 32px;
    font-size: .9em;
    &>div:first-child {
        font-size: 1.3em;
        margin-bottom: 12px;
    }
}
