$fontStack: 'Lato', sans-serif;

$titleStack: 'Open Sans', sans-serif;
$monoStack: 'Roboto Mono', monospace;

$background: #222034;
$foreground: #ffffff;
$bg: $background;
$fg: $foreground;

$green: #115423;
$bgreen: #7cb342;
$red: #e53935;

$accent: #aa3132;

$bg_l0: saturate(lighten($bg, 3%), 1%);
$bg_l1: desaturate(lighten($bg, 7%), 5%);
$bg_l2: desaturate(lighten($bg, 14%), 9%);
$bg_l3: desaturate(lighten($bg, 28%), 11%);
$bg_l5: desaturate(lighten($bg, 56%), 12%);
$bg_d1: saturate(darken($bg, 8%), 4%);
$bg_d05: saturate(darken($bg, 6%), 4%);
$bg_d0: saturate(darken($bg, 4%), 4%);

:export {
    background: $background;
    foreground: $foreground;
    bg: $bg;
    fg: $fg;
    
    green: $green;
    bgreen: $bgreen;
    red: $red;
    
    accent: $accent;

    bg_l0: $bg_l0;
    bg_l1: $bg_l1;
    bg_l2: $bg_l2;
    bg_l3: $bg_l3;
    bg_l5: $bg_l5;
    bg_d1: $bg_d1;
    bg_d05: $bg_d05;
    bg_d0: $bg_d0;
}